@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.add {
     width: 100vw;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
     background-color: rgba(0,0,0,0.724);
     display: flex;
     align-items: center;
     justify-content: center;
     

     .modal {
          // width: 40%;
          padding: 50px;
          border-radius: 10px;
          background-color: $main-bg;
          position: relative;


          @include md{
               padding: 25px;
          }
          

          h1 {
               margin-bottom: 40px;
               font-size: 24;
               color: $soft-color;
          }

          .close {
               position: absolute;
               top: 10px;
               right: 10px;
               cursor: pointer;
          }

          form {
               display: flex;
               flex-wrap: wrap;
               max-width: 500px;
               justify-content: space-between;

               @include md{
                    flex-direction: column;
               }

               @include sm{
                    flex-direction: column;
               }
          }

          .item {
               width: 43%;
               display: flex;
               flex-direction: column;
               gap: 10px;
               margin-bottom: 20px;

               @include md{
                    width: 100%;
               }

               @include sm{
                    width: 80%;
               }

               label {
                    font-size: 14px;
               }

               input {
                    padding: 10px;
                    background-color: transparent;
                    color: white;
                    outline: none;
                    border: 1px solid $soft-color;
                    border-radius: 3px;
               }

          }

          button {
               width: 100%;
               padding: 10px;
               cursor: pointer;
          }

     }

}